.numero{
    width:100px;
    height:60px;
}

.igual{
    width:200px;
    height:60px;

}

table{
    margin:auto;
}

.color_display{
    height:50px;
    border:medium #000;
    font: "Space Age";
    color:#000;
    font-size:24px;
    text-align:right;
    padding:5px;
}
